* {
    min-width: 80%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color:hsla(0,100%,50%,1);
background-image: url(https://avatars.mds.yandex.net/i?id=f36705e307a5238ce2030f10b2fb8218-4615427-images-thumbs&n=13)
}

.App {
    width: 800px;
    
}

