* {
    min-width: 80%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color:hsla(0,100%,50%,1);
    background-image: url(./back.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: 100% auto;
    background-color: #bbe2e9;
}

.App {
    width: 800px;
    
}

