.task {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.conteiner {
    display: flex;
    flex-direction: column;
    min-width: 65%;
    padding: 0 0 0 5%;
}

.description {
    min-height: 22px;
    word-wrap: break-word;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}